<form [formGroup]="form" (ngSubmit)="submit()" class="application-form">
  <input formControlName="company" placeholder="Empresa" />
  @if (form.get('company')?.invalid && form.get('company')?.touched) {
    <span class="error">Obrigatório</span>
  }

  <input formControlName="role" placeholder="Cargo" />
  @if (form.get('role')?.invalid && form.get('role')?.touched) {
    <span class="error">Obrigatório</span>
  }

  <textarea formControlName="jobDescription" placeholder="Descrição da vaga"></textarea>
  @if (form.get('jobDescription')?.invalid && form.get('jobDescription')?.touched) {
    <span class="error">Obrigatório</span>
  }

  <button type="submit">Adicionar postulação</button>
</form>
